ConvertitoreClient/Connected Services/ConvertitoreService/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53249/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost:53249/Service.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ConvertiValuta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="importo" type="xs:float" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="da" type="q1:valute" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="a" type="q2:valute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConvertiValutaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConvertiValutaResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TassiConversione">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TassiConversioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="TassiConversioneResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>